/* Horizontal Layout */
.horizontal-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll; /* Enables horizontal scrolling */
  white-space: nowrap;
}

/* Vertical Layout */
.vertical-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Card Styles */
.card-container {
  width: 200px;
  margin-bottom: 2rem;
}

.card {
  background: #222;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card img {
  width: 100%;
  height: 70%; /* Adjust image height */
  object-fit: cover; /* Prevent image distortion */
}

.card h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Avoid text overflow */
}

/* Card Hover Effect */
.card:hover {
  transform: scale(1.02); /* Slight zoom effect */
  transition: transform 0.2s ease-in-out;
}