<section class="details-top">
  <img
    src="https://image.tmdb.org/t/p/original{{ movie?.backdrop_path }}"
    alt="{{ movie?.title }}"
    class="details-top-image"
  />
  <div class="details-overlay">
    <div class="details-content">
      <h1>{{ movie?.title }}</h1>
      <p>{{ movie?.overview }}</p>
      <div class="details-buttons">
        <button (click)="toggleFavorites()">
          {{ movie?.isFavorite ? 'Rimuovi dai Preferiti' : 'Aggiungi ai Preferiti' }}
        </button>
        <button (click)="toggleWatchlist()">
          {{ movie?.isInWatchlist ? 'Non lo Guardo' : 'Guarda più Tardi' }}
        </button>
        <button (click)="showTrailer()">Guarda il Trailer</button>
      </div>
      <div class="watched-badge-container">
        @if(isWatched){
          <span  class="watched-badge">✅ Già visto</span>}
      </div>
    </div>
  </div>
</section>

<!-- Trailer Modal: Inseriscilo qui -->
@if (isTrailerVisible){
  <div class="trailer-modal" >
    <iframe
      width="100%"
      height="100%"
      [src]="trailerUrl"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
      allowfullscreen>
    </iframe>
    <button class="close-trailer" (click)="closeTrailer()">Chiudi</button>
  </div>}

<!-- Seconda Sezione: Contenuti Correlati -->
<section class="details-extra">
  <h2 class="details-extra-title">Contenuti Correlati</h2>

  <app-card-component [movies]="this.limitedMovies" layout="vertical"></app-card-component>
</section>
