.category-section {
  margin: 2rem 0;
  padding: 1rem;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.category-carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.movie-list {
  display: flex;
  gap: 1rem; /* Spaziatura tra le card */
  overflow-x: auto; /* Abilita lo scroll orizzontale */
  scroll-behavior: smooth; /* Scroll fluido */
  white-space: nowrap; /* Forza una sola riga */
}


.movie-list::-webkit-scrollbar {
  display: none; /* Nasconde la scrollbar */
}
